In [2]:
import pandas as pd


df1 = pd.read_csv("../csv/bible_words.csv", index_col=None)

bible_words = df1['words'].tolist()
bible_words[0:10]

['king',
 'pasimula',
 'lelangan',
 'ne',
 'ning',
 'dios',
 'ing',
 'banua',
 'at',
 'ing']

In [3]:
df2 = pd.read_csv("../csv/NovelContent.csv")

content_words = df2['words'].tolist()
content_words[0:10]

['ibuak',
 'nang',
 'ester',
 'ing',
 'no',
 'vela',
 'rin',
 'anggang',
 'novela',
 'if']

In [7]:
df3 = pd.read_csv("../csv/SongsContent.csv")

song_words = df3['words'].tolist()
song_words[0:10]

['indung',
 'alang',
 'musing',
 'indung',
 'alang',
 'musing',
 'king',
 'kekang',
 'awus',
 'arap']

In [8]:
merged_list = bible_words + content_words + song_words
merged_list[0:10]

['king',
 'pasimula',
 'lelangan',
 'ne',
 'ning',
 'dios',
 'ing',
 'banua',
 'at',
 'ing']

In [9]:
df = pd.DataFrame(merged_list, columns = ['words'])

df.to_csv("../csv/compiled_words.csv")
df

           words
0           king
1       pasimula
2       lelangan
3             ne
4           ning
...          ...
861031  remedios
861032    patune
861033        ka
861034     tugut
861035    mamaus

[861036 rows x 1 columns]

In [10]:
from collections import Counter

freq_counter = Counter(merged_list)

freq_table = pd.DataFrame.from_dict(freq_counter, orient='index').reset_index()
freq_table = freq_table.rename(columns={'index':'word', 0:'frequency'})
freq_table.sort_values(by='frequency', ascending=False, inplace=True)

freq_table.to_csv("../csv/freqtable.csv")
freq_table

freq_table

              word  frequency
6              ing      42065
0             king      37279
14              na      35082
8               at      32785
4             ning      25628
...            ...        ...
15614     sampulun          1
15615     pakakaba          1
15616       ikuyad          1
15618        likum          1
25243  pagmasusian          1

[25244 rows x 2 columns]

In [11]:
total_words = freq_table['frequency'].sum()
freq_table['probability'] = freq_table['frequency'] / total_words

freq_table.to_csv("../csv/freqtable_probability.csv")
freq_table

              word  frequency  probability
6              ing      42065     0.048854
0             king      37279     0.043296
14              na      35082     0.040744
8               at      32785     0.038076
4             ning      25628     0.029764
...            ...        ...          ...
15614     sampulun          1     0.000001
15615     pakakaba          1     0.000001
15616       ikuyad          1     0.000001
15618        likum          1     0.000001
25243  pagmasusian          1     0.000001

[25244 rows x 3 columns]