In [3]:
import pandas as pd


df1 = pd.read_csv("../csv/bible_words.csv", index_col=None)

bible_words = df1['words'].tolist()
bible_words[0:10]

['king',
 'pasimula',
 'lelangan',
 'ne',
 'ning',
 'dios',
 'ing',
 'banua',
 'at',
 'ing']

In [4]:
df2 = pd.read_csv("../csv/NovelContent.csv")

content_words = df2['words'].tolist()
content_words[0:10]

['ibuak',
 'nang',
 'ester',
 'ing',
 'no',
 'vela',
 'rin',
 'anggang',
 'novela',
 'if']

In [6]:
merged_list = bible_words + content_words
merged_list[0:10]

['king',
 'pasimula',
 'lelangan',
 'ne',
 'ning',
 'dios',
 'ing',
 'banua',
 'at',
 'ing']

In [7]:
df = pd.DataFrame(merged_list, columns = ['words'])
df

            words
0            king
1        pasimula
2        lelangan
3              ne
4            ning
...           ...
860348       buak
860349       nang
860350      ester
860351  kaladuang
860352       dake

[860353 rows x 1 columns]

In [8]:
from collections import Counter

freq_counter = Counter(merged_list)

freq_table = pd.DataFrame.from_dict(freq_counter, orient='index').reset_index()
freq_table = freq_table.rename(columns={'index':'word', 0:'frequency'})
freq_table.sort_values(by='frequency', ascending=False, inplace=True)

freq_table.to_csv("../csv/freqtable.csv")
freq_table

freq_table

           word  frequency
6           ing      42040
0          king      37257
14           na      35069
8            at      32775
4          ning      25609
...         ...        ...
16669  paniaklu          1
7904    pinukul          1
7900    tinagun          1
16673   betsata          1
25166  mumhnang          1

[25167 rows x 2 columns]

In [10]:
total_words = freq_table['frequency'].sum()
freq_table['probability'] = freq_table['frequency'] / total_words

freq_table.to_csv("../csv/freqtable_probability.csv")
freq_table

           word  frequency  probability
6           ing      42040     0.048864
0          king      37257     0.043304
14           na      35069     0.040761
8            at      32775     0.038095
4          ning      25609     0.029766
...         ...        ...          ...
16669  paniaklu          1     0.000001
7904    pinukul          1     0.000001
7900    tinagun          1     0.000001
16673   betsata          1     0.000001
25166  mumhnang          1     0.000001

[25167 rows x 3 columns]