In [19]:
import pandas as pd


df1 = pd.read_csv("../csv/bible_freqtable.csv")
df2 = pd.read_csv("../csv/NovelContent_Frequency.csv")


merged_df = pd.merge(df1, df2, on='word', how='outer')
merged_df['frequency_x'].fillna(0, inplace=True)
merged_df['frequency_y'].fillna(0, inplace=True)
merged_df['combined_frequency'] = merged_df['frequency_x'] + merged_df['frequency_y']
merged_df.drop(['frequency_x', 'frequency_y'], axis=1, inplace=True)
merged_df.drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis=1, inplace=True)
merged_df.rename(columns={'combined_frequency':'frequency'}, inplace=True)
merged_df

           word  frequency
0           ing    42040.0
1          king    37257.0
2            na    35069.0
3            at    32775.0
4          ning    25609.0
...         ...        ...
25162  talabang        1.0
25163      ador        1.0
25164    gobern        1.0
25165       pab        1.0
25166  mumhnang        1.0

[25167 rows x 2 columns]

In [20]:
total_words = merged_df['frequency'].sum()
merged_df['probability'] = merged_df['frequency'] / total_words

In [21]:
merged_df

           word  frequency  probability
0           ing    42040.0     0.048864
1          king    37257.0     0.043304
2            na    35069.0     0.040761
3            at    32775.0     0.038095
4          ning    25609.0     0.029766
...         ...        ...          ...
25162  talabang        1.0     0.000001
25163      ador        1.0     0.000001
25164    gobern        1.0     0.000001
25165       pab        1.0     0.000001
25166  mumhnang        1.0     0.000001

[25167 rows x 3 columns]